<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Site</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="d-flex flex-column vh-100">
    <%- include('./partials/navbar') %>
    <main class="container mt-5">
        <%- include('./partials/flash')%>
        <%- body %>
    
    </main>

    <footer class="footer d-flex justify-content-center bg-dark py-3 mt-auto">
          <span class="text-white col-2">
            Contact Us
          </span>
          <% if(contactLocal.adminName) { %>
            <span class="text-white col-2">
              Site Owner: <%=contactLocal.adminName%>
            </span>
          <% } %>
          <% if(contactLocal.email) { %>
          <span class="text-white col-2">
            Email: <%=contactLocal.email%>
          </span>
          <% } %>
          <% if(contactLocal.phoneNumber) { %>
          <span class="text-white col-4">
            Phone Number: <%=contactLocal.phoneNumber%>
          </span>
          <% } %>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="/validateForm.js"></script>
</body>
</html>